<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net461" />
  <package id="FastMember" version="1.1.0" targetFramework="net461" />
  <package id="Geocoding.net" version="3.6.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="QifApi" version="1.0.6014.6272" targetFramework="net461" />
  <package id="StyleCop.MSBuild" version="4.7.55.0" targetFramework="net461" developmentDependency="true" />
</packages>