<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MyAccounts.Tests.Gmc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <MyAccounts.Tests.Gmc.Properties.Settings>
      <setting name="GmcUserName" serializeAs="String">
        <value>#{GmcUserName}#</value>
      </setting>
      <setting name="GmcPassword" serializeAs="String">
        <value>#{GmcPassword}#</value>
      </setting>
    </MyAccounts.Tests.Gmc.Properties.Settings>
  </applicationSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
    <unitTestProvider name="NUnit" />
  </specFlow>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
